{% extends 'base.html' %}
{% block extrahead %}
{% block title %}Home | Test{% endblock %}


{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div style="text-align: center;">
	Hello, this is the home page!
</div>



<table class="table table-bordered" id="product-table">
	<thead>
		<tr id="consult_date">
			<th scope="col">Produto</th>
			<th scope="col">Data de Inserção na Loja</th>
			<th scope="col">Total de Vendas</th>
			<th scope="col">12 de Janeiro</th>
			<th scope="col">13 de Janeiro</th>
			<th scope="col">14 de Janeiro</th>
			<th scope="col">15 de Janeiro</th>
		</tr>
	</thead>

	{% for product_name, products in all_products_json.items %}
	  <tbody id="products_spec">
	  	
  		<tr>
	  		<th scope="row"><a href="{{product_name}}">{{product_name}}</a></th>
	  		{% for product in products %}
	  			<!--
				<td>{{ product.product_url__created_at|date:'y-m-d' }}&nbsp;&nbsp;</td>-->
				<td>{{ product.c }}</td>


				<!-- This needs to be filtered by Date
				<script type="text/javascript">
					$('#consult_date').append(`
					<th scope="col">{{product.consulte_date|date:'y-m-d'}}</th>`);
				</script>

				-->
			{% endfor %}
		</tr>
	    
	  </tbody>
	
	{% endfor %}

</table>

{% endblock %}
{% endblock %}